/* font include */
@import url("https://fonts.googleapis.com/css2?family=Inter+Tight:wght@200;300;400;500&display=swap");

body,
html {
  font-family: "Inter Tight", sans-serif;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

/* custom css */
.headerBg {
  background-image: url("../public/assets/images/header.jpg");
}
.relative {
  position: relative;
  transition: max-width 5s ease-in-out;
  overflow: hidden;
}
.contact-container {
  background-image: url("https://mdbootstrap.com/img/new/textures/full/284.jpg");
  background-position: 50%;
}
.contact-wrapper {
  background: hsla(0, 0%, 100%, 0.8);
  backdrop-filter: blur(30px);
}
